.nav{
    @apply  w-full  flex justify-between items-center py-4 rounded-full relative;
    animation: show-nav-bg linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes show-nav-bg {
    from {
        max-width: 72rem;
        background-color: transparent;
    }
    1% {
        @apply shadow-lg backdrop-blur-lg;
    }
    to {
        @apply shadow-lg backdrop-blur-lg;
        max-width: 42rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: rgba(8, 51, 68, 0.5);
    }
}
